
body{
    background: #e6e6e6;
    color :#404040;
}

#edu{
    margin-left: 20px;
}
#sign{
    position: absolute;
    right: 200px;
    bottom: -1100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
  }
h1{
    margin-right: 800;
    margin-top: 200;
    padding-left: 80;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bolder;
    font-size: 80;
    color: white;
    letter-spacing: 10px;
}
h2{
    margin-right: 800;
    margin-left: 80;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:40;
    letter-spacing: 5px;
    color: white;
    font-weight: lighter;

}
#box{
    position: absolute;

    top:120px;
    margin-left:800px;
  }
#dot{
    position: absolute;
    top: 570px;
    margin-left: 775px;
}
#subha{
      position: absolute;
      top:170px;
      margin-left:940px;
      width:235;
 }
 
 